
.post-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container{
    width: 840px;
}

.post-image{
    width: 165px;
    border: 2px solid dodgerblue;
}

.like-img{
    width: 55px;
    height: 35px;
    float: left;
    border: 1px solid dodgerblue;
    display: none;
}

.unlike-img{
    width: 55px;
    height: 35px;
    float: left;
    border: 1px solid dodgerblue;
}
